@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
/*--Body-- Section1--*/
.section1{
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
  	display: flex;
  	align-items:flex-end;
  	justify-content:center;
}

.section1 .container{
	background: transparent;
 	width: 100px;
  	height: 60px;
	justify-content: center;
	text-align: center;
	position: absolute;
	margin-bottom: 0px;
}

.double-fleche{
	height: 40px;
}

/*--Section4-Actus--*/
.section4{
	height: auto;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.section4 .container{
	background: transparent;
	width: 80%;
	height: auto;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
}

.section4 h1 {
	color: #0C101D;
	margin: 0;
}

.section4 .s4-top-text_actu--{
	padding: 5px 10px;
	color: #0C101D;
}

.section4 .s4-mid-actu-struct{
    display: flex;
    flex-wrap: wrap;
	background: transparent;
	height: auto;
	margin: 0 20px;
	justify-content: space-between;
}

.section4 .s4-mid-actu-item{
	width: 48.667%;
	height: 100%;
	background: #EDEDED;
    margin-bottom: 20px;
}

.section4 .s4-mid-actu-img{
	width: 100%;
	height: 300px;
}

.section4 .s4-mid-actu-img--{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.section4 .s4-mid-actu-content{
    padding: 20px 20px 5px 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4 .s4-mid-actu-content-date{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	padding: 0px 0px 10px;
	color: #0C101D;
}

.section4 .s4-mid-actu-content-titre{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 800;
	font-size: 18px;
	padding: 0px 0px 10px;
	color: #0C101D;
}

.section4 .s4-mid-actu-content-texte{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
	font-size: 14px;
	padding: 0px 0px 10px;
	color: #0C101D;
}

.section4 .s4-mid-actu-content-button{
  	display: flex;
	background: transparent;
  	flex-direction: row;
  	width: 100%;
  	justify-content: space-between; /*Pour aligner le bouton en bas du div */
}

.section4 button{
	width: 100%;
	background: none;
 	border: none;
}

.section4 .s4-mid-actu-content-button-- {
  	display: flex;
	height: 40px;
  	flex-direction: row;
  	align-items: center; /* Pour aligner les éléments sur la même ligne */
	align-content: center;
  	justify-content: space-between;
}

.section4 .s4-mid-actu-content-boutton-text{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 800;
	font-size: 18px;
	padding: 0px 0px 2px;
	color: #0C101D;
}

.section4 .s4-mid-actu-content-boutton-fleche--{
	height: 30px;
	margin-left: auto; /* Pour aligner l'icône à droite */
}

/* S4 - bottom */
.section4 .s4-bottom-actu-struct{
	background:#4861AD;
	margin: 20px 20px;
}

.section4 .s4-bottom-actu-struct :hover{
	cursor: pointer;
}

.section4 .s4-bottom-actu-button-- {
  	display: flex;
	height: 40px;
  	flex-direction: row;
  	align-items: center; /* Pour aligner les éléments sur la même ligne */
	align-content: center;
  	justify-content: space-between;
	padding: 0 20px;
}

.section4 .s4-bottom-actu-content-boutton-text{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 800;
	font-size: 18px;
	padding: 0px 0px 2px;
	color: #fff;
}


@media screen and (max-width: 950px){
	.section4 .s4-mid-actu-content{
		height: auto;
	}

.section4 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: white;
}

.section4 .u-top-column {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    background: white;
    padding: 70px 0px 0px 20px;
    margin: 0px 0px 10px;
}

.section4 .s4-top-text_actu {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 300;
    font-size: 14px;
    color: rgb(12, 16, 29);
    padding: 10px 0px;
}

.section4 .s4-top-text_actu-- {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 300;
    font-size: 14px;
    color: rgb(12, 16, 29);
    padding: 5px 0px;
}

.section4 .s4-mid-actu-struct {
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
    margin: 0px 50px 0 20px;
}

.section4 .s4-mid-actu-item {
    width: 100%;
    height: 45%;
    margin-bottom: 50px;
    background: rgb(237, 237, 237);
}

.section4 .s4-bottom-actu-struct {
    background: rgb(72, 97, 173);
    margin: 20px 20px 70px 20px;
}


}
