@charset "UTF-8";


/*--Body-- Section2--*/
/*--Section2-titre--*/
.section2{
	height: 700px;
	background: white;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.section2 .u-container{

	width: 80%;
	height:  100%;
	margin-top: 50px;
}

::placeholder {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

select{
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    margin-bottom: 40px;
    color:  black;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

input{
    padding-left: 10px;
    border: 0;
    margin-bottom: 40px;
}

button {

	
    border: 0;
    margin-bottom: 5px;
    color:  white;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}


.retour_bouton {

    padding-left: 10px;
    border: 0;
    margin-bottom: 40px;
    color:  black;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.section2 .no-margin {

    margin-right: 20px;
}

.section3 .no-margin {

    margin-right: 20px;
}

.section3{
    height: 500px;
    background: #EDEDED;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.section3 .u-container{

    width: 80%;
    height:  100%;
    margin-top: 50px;
    background: transparent;
}

.section3 .u-top-column-t-long {
    display: flex;
    flex-direction: row;
    background: transparent;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding: 70px 20px;
}

.section3 ::placeholder {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.section3 select{
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    margin-bottom: 40px;
    color:  black;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.section3 input{
    padding-left: 10px;
    border: 0;
    margin-bottom: 40px;
}

.section3 button {

    padding-left: 10px;
    border: 0;
    margin-bottom: 40px;
    color:  white;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}




@media screen and (max-width: 700px){

.section2 .u-top-column-t-long {
    display: flex;
    flex-direction: row;
    background: white;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding: 70px 20px;
    flex-wrap: wrap;
}

.section2 .no-margin {
    margin: 0 0 40px 0;
    width: 80%;
}

.section2 .u-top-text-long {
    width: 90%;
}

.section2 .u-top-text-long-- {
    padding-top: 25px;
    padding-left: 0px; 
}

.section3 .u-top-column-t-long {
    display: flex;
    flex-direction: row;
    background: transparent;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding: 70px 20px;
    flex-wrap: wrap;
}

.section3 .no-margin {
    margin: 0 0 40px 0;
    width: 80%;
}

.section3 .u-top-text-long {
    width: 90%;
}

.section3 .u-top-text-long-- {
    padding-top: 25px;
    padding-left: 0px; 
}



}