@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


#section-erreur{
    padding:10em 0 6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

body h2{
    color: black;
}

.error-404{
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
}



.container{
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px){
    .error-404{
        width: 60%;
    }
    
}