@charset "UTF-8";


/*--header--*/
.js-a-menu-header{
	text-decoration: none;
}


ul li a {
	list-style: none;
    text-decoration-style: none;
}

header{
	height: 50px;
	width: 100%;
	top :0;
	left: 0;
	position: fixed;
	z-index: 999;
	justify-content: center;
}

header .header-background{
	height: 100%;
	background: rgba(12, 16, 29, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(20px);
	transition: backdrop-filter 0.3s ease;
}

/* header .menu-header:hover + .header-background {
  	background-size: 200% auto;
}

header .menu-header:hover .header-hidden-content{
	display: block;
	position: absolute;
}*/

header .container{
	width: 90%;
	height: 50px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
}

header .container .search-navigation{
	display:flex;
	padding: 0px;
	height: 100%;
	width: 120px;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding-left: 50px;
	flex-direction: row;
}

header .logo-navigation{
	width: 90px;
}
header .logo-navigation a{
	width: auto;
	height: auto;
}

header .container .search-navigation-menu{
	display:none;
	padding: 0px;
	height: 100%;
	width: 300px;
	align-content: center;
	align-items: center;
	justify-content: right;
	flex-direction: row;
}

header .container .logo-navigation{
	padding: 0px;
}

@media screen and (min-width: 1000px){
	header .container ul{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


header .container ul a{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	margin: 15px;
	color: white;
}


header .logo{
	margin-top: 4px;
	padding: 0;
}

header .logo-right-menu{
	display:block;
	height: 30px;
	margin: 0;
}

header .logo-right-menu-bis{
	display:block;
	height: 30px;
	margin: 0;
}

header .l{
	height: 35px;
	margin: 0;
	padding: 0;
	top: 0;
}

.header-hidden-content{
	display: none;
	margin: 10px 0 0 0;
}

.sous-menu-header{
	display: flex;
	flex-direction: column;
	font-size: 8px;
}

.sous-menu-header-item{
	padding: 3px 0 3px 0;
}

header .container .disparaitre {
    display:  none;
}

header .container .menu-hamburger {
	display:  none;
}

header .container .cross-hamburger {
	display:  none;
    animation: fadeIn .5s ease-in ;
    margin-top: 20px;
    cursor: pointer;
}

/* Annimaton ----- */
.header-hidden-content_dynamic{
	margin-top: 2px;
	height: 1px;
	display: flex;
}

header nav li .header-hidden-content_dynamic :hover{
    background: white;
	animation: hover-barre .3s both;
}

@keyframes hover-barre {
	from{
		transform: scaleX(0);
	}	
	to {
		transform: scaleX(0.7);
	}
}

header nav li.active .header-hidden-content_dynamic{
	background: white;
	animation: hover-barre .3s both;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 1000px){
	header nav li.active .header-hidden-content_dynamic{
		display: none;
	}
	header nav li:hover .header-hidden-content_dynamic{
		display: none;
	}
	header nav li:hover a{
		font-style: italic;
	}
	header .menu-header {
		top:  0;
		left: 0;
		position:  absolute;
		background-color: #FFFFFF;
		width: 100%;
		height:  100vh;
		display:  flex;
		justify-content: space-between;
		margin-left:  100%;
		transition:  all 0.5s ease-in-out;
	}

	header .menu-header.mobile-menu {
		margin-left : 0;
	}

	header .menu-header ul{
		display:  flex;
		flex-direction: column;
        margin-top: 80px;
	}

	header .search-navigation {
		display : none;
	}

	header .container .search-navigation-menu {
		display : none;
		margin-top: 1300px;
		margin-left:60px;
		height: 50px;
		width: 100%;
		align-content: center;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		z-index: 9;
	}

    header .logo-right-menu{
        display: block;
		height: 30px;
		margin-left: auto;
		margin-right: auto;
		padding: 5px;
    }

	header .logo-right-menu-bis{
        display: none;
		height: 30px;
		margin: 0;
    }

	
    header .container .disparaitre {
        display:  flex;
    }

	header .container .menu-hamburger {
		display:  block;
        filter: invert(100%) sepia(0%) saturate(28%) hue-rotate(85deg) brightness(105%) contrast(107%);
	}

    header .container .cross-hamburger {
		display:  none;
		z-index: 2;
	}

   

	header .container .menu-hamburger:hover{
		cursor: pointer;
	}

	header .container ul a{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	margin: 15px;
	color: black;
	}


	header .container ul ul a{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	color: black;	
	}

	header .container ul li{
	margin:  10px 0;
	font-size: 2em ;
	margin-left: 80px;
	}

	header .container ul li:active{
		font-style: italic;
	}
}


@media screen and (max-width: 600px){
	header nav li.active .header-hidden-content_dynamic{
		display: none;
	}
	header nav li:hover .header-hidden-content_dynamic{
		display: none;
	}
	header nav li:hover a{
		font-style: italic;
	}
    
    header .menu-header {
		top:  0;
		left: 0;
		position:  absolute;
		background-color: #FFFFFF;
		width: 100%;
		height:  100vh;
		display:  flex;
		justify-content: space-between;
		margin-left:  100%;
		transition:  all 0.5s ease-in-out;
	}

	header .menu-header.mobile-menu {
		margin-left : 0;
	}

	header .menu-header ul{
		display:  flex;
		flex-direction: column;
        margin-top: 80px;
	}

	header .search-navigation {
		display : none;
	}

	header .container .search-navigation-menu {
		display : none;
		margin-top: 1000px;
		margin-left:30px;
		height: 50px;
		width: 100%;
		align-content: center;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		z-index: 9;
	}

    header .logo-right-menu{
        display: block;
		height: 30px;
		margin-left: auto;
		margin-right: auto;
		padding: 5px;
    }

	header .logo-right-menu-bis{
        display: none;
		height: 30px;
		margin: 0;
    }

    header .container .disparaitre {
        display:  flex;
    }

	header .container .menu-hamburger {
		display:  block;
        filter: invert(100%) sepia(0%) saturate(28%) hue-rotate(85deg) brightness(105%) contrast(107%);
	}

    header .container .cross-hamburger {
		display:  none;
		z-index: 2;
	}

	header .container .menu-hamburger:hover{
		cursor: pointer;
	}

	header .container ul a{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	margin: 15px;
	color: black;
	}


	header .container ul ul a{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	color: black;	
	}

    header .container ul li{
        margin:  0px 0 10px;
        font-size: 2em ;
        margin-left: 40px;
    }
	header .container ul li:active{
		font-style: italic;
	}
}



/*--Footer--*/

footer{
	height: auto;
	width: 100%;
	z-index: 999;
	justify-content: center;
	background: #0C101D;
	padding-bottom: 50px;	
}

footer .footer-background{
	height: auto;
	
}

footer .footer-background .element{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 15px 0px 0px;
	gap: 246px;

	position: absolute;
	width: 1462.84px;
	height: 321px;
	left: 115px;
	top: 0px;
}

footer .row{
	padding-top: 50px;
}

footer .logo{
	display: block;
  	margin-right: auto;
  	max-width: 80%;
	margin-top: 0px;
	max-width: 300px;
}


@media screen and (min-width: 650px){
	.footer-subnav__logo-link{
		height: 100%;
		width: 100%;
		margin: 25px 25px 25px 70px;
	}
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column_1 {
  float: left;
  width: 35%;
  padding: 5px;
  display: flex;
}

.column_2 {
  float: left;
  width: 65%;
  padding: 5px;
}

.text1 {
	float: left;
	width: 80%;
	padding: 1px;
	height:  auto;
	display: flex;
	justify-content: space-between;

}

.separateur {
	float: left;
	width: 85%;
	padding: 5px 0;
	height:  5px;
}



.text2 {
	float: left;
	width: 90%;
	padding: 10px 0;
}

.decouvrir{
	float: left;
	width: auto;
	padding-top: 20px;
	height: auto;

	}

.informations{
	float: left;
	width: auto;
	height: auto;
	padding-top: 20px;
	}

.autres{
	float: left;
	width: auto;
	height: auto;
	padding-top: 35px;
	}


.text3 {
	float: left;
	width: 90%;
	padding-top: 10px;
	height:  70px;
}

footer .text3 svg {
	margin-right: 50px;
}

.text4 {
	float: left;
	width: 90%;
	padding: 1px;
	height:  50px;
}

footer h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	font-size: 20px;
	color: #fff;
}

footer h4 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	color: white;
	margin-top: 15px;
}

footer .column_2 ul a{
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	color: white;
}

footer .column_2 ul li{
	margin:  12px 0;
}



@media screen and (max-width: 1000px){


    footer {
        height: auto;
        width: 100%;
        z-index: 999;
        justify-content: center;
        display: flex;
        align-items: flex-start;
    }
    
    .column_1 {
        float: left;
        width: 60%;
        display: flex;
        height: 100px;
        padding-left:10%;
		margin-bottom: 4em;
		display: flex;
		justify-content: center;
    }
    
    footer .logo {
        height: 100%;
        display: block;
        width: 100%;
    }

    footer h3 {
        margin-bottom: 10px;
    }
    
    footer .column_2 {
        float: left;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0% 10% 10px 10%;
    }
    
    .text1 {
        float: left;
        width: 90%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 1px;
        padding-bottom:10px;
    }
    
    .decouvrir {
        width: 100%;
        padding-top: 0px;
        height: au;
    }
    
    footer ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        height:auto;
        padding-left:30px;
    }
    
    footer .column_2 ul li {
        width:100%;
    }

    
    .informations {
        width: 100%;
        height: 40%;
        padding-top:30px;
    }
    
    
    
    .autres {
        float: left;
        width: 100%;
        height: 20%;
        padding-top: 1px;
    }
    
    .separateur {
        float: left;
        width: 100%;
        height: 5px;
        padding: 1px;
    }
    
    footer .text3 svg {
        margin-right: 45px;
    }
    
    footer li {
        float: left;
    }
    
    footer .column_2 ul a {
    
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        color: white;
    
    }

    .text2 {
        height:auto;
    }

    .text3 {
        float: left;
        width: 90%;
        padding-top: 0px;
        height: auto;
        padding-bottom: 10px;
    }

    .text4 {
        height:auto;
    }

    footer .text4 h4 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        color: white;
        margin-top: 8px;
    }

    
}



/*-- Bouton-header--*/
.header-button{	
	height: 44px;
	bottom: 0px;
}

.header-boutton-struc{
	display: flex;
  	min-height: 40px;
	width: 90%;
	flex-direction: row;
	align-items: center; /* Pour aligner les éléments sur la même ligne */
  	align-content: center;
	justify-content: space-between;
  	padding: 5px 5px;
	background: rgba(255, 255, 255, 0.1);
	border: solid;
	border-width: 1px;
	border-color: white;
	text-align: left;
	bottom: 10px;
}
.header-boutton-struc:hover{
	background: rgba(255, 255, 255, 0.3);
}

.header-boutton-text{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 800;
	font-size: 18px;
	padding: 0px 0px 2px;
	color: #fff;
}

.content-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-link:hover{
    cursor:pointer;
}
.modal-skyconseil{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../asset/images/skyconseil.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.modal-skyincap{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../asset/images/stock-photo-two-happy-friendly-diverse-professionals-teacher-and-student-giving-high-five-standing-in-office-1937300755.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.u-modal-item{

}

.header-boutton-language-struc{
	height: 44px;
	background: #4861AD;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
	cursor: pointer;
}

.logofleche{
	height: 30px;
	width: 30px;
}

.Pfren{
	color: white;
	margin: 0 0 0 10px;
}