@charset "UTF-8";

.section00 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.section00 .s00-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 30% 50px 0;

}

.section00 .s00-double-fleche {
    left: 50%;
    transform: translate(-50%, -100%);
    position: absolute;
}

.section00 h2 {
    font-size: 80px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1050px) {
    .section00 h2 {
        font-size: 60px;
    }

    .section00 .s00-container {
        padding: 100px 20% 50px 0;
        min-height: 70vh;
    }
}

@media screen and (max-width : 620px) {
    .section00 .s00-container {
        padding: 100px 0 50px 0;
    }

    .section00 h2 {
        font-size: 50px;
    }
}

@media screen and (max-width : 400px) {
    .section00 .s00-container {
        padding: 100px 0 50px 0;
    }

    .section00 h2 {
        font-size: 40px;
        margin-right: 20px;
    }
}


/*--Body-- Section2--*/
.section-image {
    background-image: url("../asset/images/inclusivity-background.webp");
    height: auto;
}

.section2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.section2 .s8-temoignage-text {
    min-height: 300px;
    width: 60%;
    padding-bottom: 70px;
    padding-top: 5%;
    margin-left: auto;
    margin-right: 4em;
}

/*--Body-- Section3--*/
.section3 {
    height: auto;
    background: #ededed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.section3 .s3-struct-row {
    padding: 0 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent;
}

/* .section3 .s3-struct-row .image a {
    display: none;
} */

/* .section3 .s3-struct-row .image {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    
        
       
        
        
} */

.u-modal-wrapper .access-video {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.u-modal-wrapper .bandeau-partenaire {
    margin: 20px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.u-modal-wrapper .bandeau-partenaire img {
    height: 50px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.section3 .s3-struct-row .accessibilite {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../asset/images/stock-photo-two-happy-friendly-diverse-professionals-teacher-and-student-giving-high-five-standing-in-office-1937300755.webp");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}

.section3 .s3-struct-row .emploi {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../asset/images/incclus.webp");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}

.section3 .s3-struct-row .ecologie {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../asset/images/ecologie.webp");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}

.section3 .s3-struct-row .innovation {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../asset/images/innovation_mif.webp");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}

@media screen and (max-width: 950px) {
    .section2 .s8-temoignage-text {
        margin-left: 0;
        width: auto;

    }
    .section3 .u-top-titre-principal {
        width: 100%;
    }


    .section3 .s3-struct-row .content {
        display: none;
    }

    .section3 .s3-struct-row .image a {
        display: flex;
    }

    .section3 .s3-struct-row .image .s3-item-titre {
        display: flex;
    }

    .section3 .s3-struct-row .image {
        width: 100%;
    }

    .section3 .s3-struct-row .accessibilite,.ecologie {
    
        margin-bottom: 40px;
        
    }

    .section3 .s3-struct-row  {
    
        
        margin-right: 40px;
    }


    .section3 h2 {
        color: white;
    }

    .section3 .s4-mid-actu-content-boutton-text {
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-weight: 800;
        font-size: 18px;
        padding: 0px 0px 2px;
        color: white;
    }

    .s3-item.image {
        position: relative;
    }

    /* .s3-item.image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        
        z-index: 1;
    } */

    .s3-item.image img {
        position: relative;
        z-index: 2;
    }

    .s3-item-titre.js-titre-h2.js-a-contrast-dark {
        position: relative;
        z-index: 3;
    }

    .s4-mid-actu-content-boutton-text {
        position: relative;
        z-index: 4;
    }
}


@media screen and (max-width : 1000px){
    .u-container-valeur{
        width: 90%;
    }
}


.section3 .s3-item {
    width: 49%;
    height: 500px;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.section4 .s4-mid-actu-content-button {
    display: flex;
    background: transparent;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /*Pour aligner le bouton en bas du div */
}

.section3 button {
    width: 100%;
    background: none;
    border: none;
}

.section3 .s4-mid-actu-content-button-- {
    display: flex;
    height: auto;
    padding: 5px 0;
    ;
    flex-direction: row;
    align-items: center;
    /* Pour aligner les éléments sur la même ligne */
    align-content: center;
    justify-content: space-between;
}

@media screen and (min-width: 950px) {
    .section3 .s4-mid-actu-content-boutton-text {
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-weight: 800;
        font-size: 18px;
        padding: 0px 0px 2px;
        color: #0C101D;
    }
}


.section3 .s4-mid-actu-content-boutton-fleche-- {
    height: 30px;
    margin-left: auto;
    /* Pour aligner l'icône à droite */
}

.section3 .s3-struct {
    margin-bottom: 70px;
}

/*--Body-- Section3--*/
.section4 {
    height: auto;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.section4 .s4-titre {
    padding-right: 20px;
    background: green;
}


/*--Section 5 --*/
.s4-padding {
    padding: 70px 0;
}

.s4-item {
    background-image: url("../asset/images/inclusivity-background.webp");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.s4-left {
    background-position: 10% 100%;
}

.s4-left-center {
    background-position: 25% 100%;
}

.s4-right-center {
    background-position: 40% 100%;
}

.s4-right {
    background-position: 60% 100%;
}

@media screen and (max-width: 950px) and (min-width: 480px) {
    .s4-item {
        background-size: 350%;
    }

    .s4-left {
        background-position: 0% 100%;
    }

    .s4-left-center {
        background-position: 60% 0%;
    }

    .s4-right-center {
        background-position: 0% 100%;
    }

    .s4-right {
        background-position: 60% 0%;
    }
}

@media screen and (max-width: 480px) {
    .s4-left {
        background-position: 10% 70%;
    }

    .s4-left-center {
        background-position: 20% 70%;
    }

    .s4-right-center {
        background-position: 30% 70%;
    }

    .s4-right {
        background-position: 40% 70%;
    }
}