@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    /*overflow:hidden;*/
}

.zoom-target {
    transition: transform 0.2s;
}

#item2 {
	padding:30px;
	font-size:3px;
	margin-right:50px;
	margin-bottom:50px;
	width:auto;
	overflow:hidden;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
    cursor: zoom-in;
}

#item2 span {
    display:ruby;
	font-size:15px;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-o-transform: scale(0.2);
}

.bg-custom {
    background-image: url('../img/bg-img.png');
}
.bg-purple {
    background: #663B92;
}

.txt-purple {
    color: #663B92;
}

.logo {
    width: 20%;
}


.bg-gray-light {
    background-color: #f3f4f6; 
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container .form {
    width: 50%;
    padding-right: 2%;
}

.form-container .image {
    width: 50%;
    height: 100%;
    background-image: url('../img/event.jpg'); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.form_place {
    margin-top: 8em !important;
}

h2 {
    text-align: center;
}

button {
    background-color: #4a4a4a; 
}

.border-purple{
    background-color: #663B92;
}

