
.bg-custom {
    background-image: url('../img/bg-img.png');
}
.bg-purple {
    background: #663B92;
}

.txt-purple {
    color: #663B92;
}

.logo {
    width: 20%;
}


.bg-gray-light {
    background-color: #f3f4f6; 
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container .form {
    width: 50%;
    padding-right: 2%;
}

.form-container .image {
    width: 50%;
    height: 100%;
    background-image: url('../img/event.jpg'); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.form_place {
    margin-top: 8em !important;
}

h2 {
    text-align: center;
}

button {
    background-color: #4a4a4a; 
}

.border-purple{
    background-color: #663B92;
}
